dash  # The core dash backend
dash-html-components  # HTML components
dash-core-components  # Supercharged components
dash-bootstrap-components  # Bootstrap components
dash-table  # Interactive DataTable component (new!)

plotly >= 4.9.0

arrow
numpy
boto3
pandas
